{% extends 'game/base.html' %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

<link rel="stylesheet" href="../../static/css/form.css">

<div class="main">
    <div class="formPosition">
        
<h1>Login</h1><br />

<p>
<form method="post" action=".">
    {% csrf_token %}

    {{ form.as_p }}

   <input type="submit" class="gradient-button gradient-button-1" value="Begin!" /> 
   <a href="{% url 'second_life:index' %}"><input type="button" class="gradient-button gradient-button-1" value="Back" /></a>
</form>
</p>
<br />
<p class="register">
    <a href="{% url 'second_life:register' %}">Register here</a>
</p>
    </div>
</div>

{% endblock %}