*{
	margin: 0;
	padding: 0;
}


.main{
    position: fixed;
	height: 100%;
	width: 100%;
	background-image: url("../image/background/CC.png");
	background-size: 1400px;
}

.formPosition{
	width: 800px;
	height: 200px;
	margin-left: 200px;
	position: absolute;

	padding-top:50px;
	color: black;
	opacity: 0.6;
	background-color: #B0E0E6;;
}

h1{
  font-family: "papyrus"; 

  font-size: 700%;
  text-align: center;
}

p{
  color: white;
  font-size: 150%;
}