*{
	margin: 0;
	padding: 0;
}

.active{
	display: block;
}

.hide{
	display:none;
}


a:link{ text-decoration: none; color: black;}
a:active { text-decoration:none; color: black;}
a:hover { text-decoration:none;color: black;} 
a:visited { text-decoration: none;color: black;}


.baseTop{
	height: 100px;
	width: 1200px;
	position: absolute;
	margin: 0 auto;
	top: 20px;
	left: 20px;	
	text-align: center;
}

.baseFoot{
	width: 1200px;
	height: 30px;
	background-image: url("../image/background/E.png");
	position: absolute;
	font-size: 15px;
	color: black;
	margin: 0 auto;
	bottom: 20px;
	left: 20px;	
	text-align: center;
	opacity: 0.7;
}

