*{
	margin: 0;
	padding: 0;
}

.active{
	display: block;
}

.hide{
	display:none;
}

::-webkit-scrollbar-track {

  background-color: #b46868;

} 

::-webkit-scrollbar-thumb {

  background-color: rgba(0, 0, 0, 0.2); 

} 

::-webkit-scrollbar-button {

  background-color: #7c2929;

} 

::-webkit-scrollbar-corner {

  background-color: black;

} 

a:link{ text-decoration: none; color: black;}
a:active { text-decoration:none; color: black;}
a:hover { text-decoration:none;color: black;} 
a:visited { text-decoration: none;color: black;}


.baseTop{
	height: 100px;
	width: 1200px;
	position: absolute;
	margin: 0 auto;
	top: 20px;
	left: 20px;	
	text-align: center;
}

.baseFoot{
	width: 1450px;
	height: 30px;
	background-image: url("../image/background/E.png");
	position: absolute;
	font-size: 15px;
	color: black;
	margin: 0 auto;
	bottom: 20px;
	left: 20px;	
	text-align: center;
	opacity: 0.7;
}

.main{
    position: fixed;
	height: 100%;
	width: 100%;
	background-image: url("../image/background/CC.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.gradient-button {
    margin: 10px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: inline-block;

}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}

.gradient-button-1 {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%);
}

.gradient-button-1:hover { background-position: right center; 
}
