*{
	margin: 0;
	padding: 0;
}

a:link{ text-decoration: none; color: black;}
a:active { text-decoration:none;color: black;}
a:hover { text-decoration:none;color: black;} 
a:visited { text-decoration: none;color: black;}

body{
	font-family: "Microsoft Yahei";
}

.glyphicon{
	cursor: pointer;

}

.main{
	height: 600px;
	width: auto;
	background-image: url("../image/image/background/E.png");
	background-repeat: no-repeat;
}

.game{
	height: 460px;
	width: 1170px;
	position: absolute;
	top: 100px;
	left: 50px;
}

.top{
	position: relative;
	height: 50px;
	width: 900px;
	/*background-color: #FAEBD7;*/
	/*background-image: url("../image/image/background/E.png");*/
	background-color:#6A5ACD;

}

.top span{
	padding-left: 50px;
	height: 100px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}

.top2{
	position: relative;
	height: 50px;
	width: 900px;
	/*background-image: url("../image/image/background/E.png");*/
	background-color: #B0E0E6;
}
.top2 span{
	padding-left: 50px;
	height: 100px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}

.top2 .strength{
	padding-left: 70px;
}

.top2 .art{
	padding-left: 65px;
}

.top2 .intelligence{
	padding-left: 66px;
}

.top2 .lucky{
	padding-left: 76px;
}

.top2 .point{
	position: absolute;
	right: 30px;
	color: black;
}
.shop{
	position: absolute;
	top: 65px;
	right: 50px;
	width: 100px;
	height: 100px;
	font-style: oblique;
	font-size: 20px;
	line-height: 40px;
	color: #B0E0E6 ;
	border: 1px solid red;
	border-radius: 50%;
	text-align: center;
	margin-top: -40px;
	background-image: url("../image/image/background/A.png");
	background-size: 200px;
    opacity:0.6;
    border-image: url("../image/image/background/A.png");
}

.middle{
	position: relative;
	top: 10px;
	height: 300px;
	width: 900px;
	background-color: #FAEBD7;
	opacity: 0.7;

}

/*enent*/
.subMiddle{
	height: 50px;
	width: auto;
	background-image: url("../image/image/background/E.png");
	border: solid;
	margin-top: 10px;
	z-index: 1;

}

.subMiddle .left{
	width: 200px;
	height: 50px;
	border: solid;
	background-image: url("../image/image/background/B.png");
	color: white;
	font-color:red;
	font-size: 20px;
}

.subMiddle .right{
	width: 690px;
	height: 46px;
	margin-top: -50px;
	border: solid;
	border-color: #F0E68C;	
	float: right;
}

.subMiddle .downRight{
	height: 100px;
	text-indent: 800px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
}


/*bag and shop*/

.store{
	position: absolute;
	height: 300px;
	width: 900px;
	background-image: url("../image/image/background/book.jpg");
	z-index: 0;
	opacity: 1;
	opacity: !important;
}

.store .tableTop{
	background-color: #6B8E23;
	color: darkorange;
	text-align: center;
	color: #FFA500;
	text-align: center;
	font-style: oblique;
}

.store .left{
	float: left;
	width: 430px;
	background-color: #B0E0E6;

}

.store .right{
	float: right;
	width: 416px;
	background-color:#6A5ACD;
}

.store tr{
	height: 50px;
}

.effect{
	font-size: 16px;
	line-height: 20px;
	color: #EE82EE;
	text-align: center;
	font-style: oblique;
}