*{
	margin: 0;
	padding: 0;
}

a:link{ text-decoration: none; color: black;}
a:active { text-decoration:none;color: black;}
a:hover { text-decoration:none;color: black;} 
a:visited { text-decoration: none;color: black;}

body{
	font-family: "Microsoft Yahei";
}

.glyphicon{
	cursor: pointer;

}

.main{
	position: fixed;
	height: 100%;
	width: 100%;
	background-image: url("../image/background/CC.png");
	background-repeat: no-repeat;
	text-align: center;
	line-height: 100%;
}

.game{
	height: 300px;
	width: 700px;
	margin: -200px 0 0 -380px;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	z-index: 3;
}

.top{
	position: relative;
	height: 50px;
	width: 900px;
	/*background-color: #7B68EE;*/
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	opacity: 1;
}

.top td{
	height: 50px;
	width: 190px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	/*background-color: #7B68EE;*/
	background-image: url("../image/background/CC.png");
	color: wheat;

}

.shop{
	position: absolute;
	top: -70px;
	right: 800px;
	width: 100px;
	height: 100px;
	font-style: oblique;
	font-size: 20px;
	line-height: 40px;
	color: #B0E0E6 ;
	border: 1px solid red;
	border-radius: 50%;
	text-align: center;
	background-image: url("../image/background/A.png");
	background-size: 200px;
    opacity:0.6;
    border-image: url("../image/background/CC.png");
}

.save{
	position: absolute;
	top: 60px;
	left: -200px;
	width: 100px;
	height: 100px;
	font-style: oblique;
	font-size: 20px;
	line-height: 100px;
	color: #B0E0E6 ;
	/*border: 1px solid red;*/
	border-radius: 50%;
	text-align: center;
	/*background-image: url("../image/background/EE.png");*/
	/*background-image: url("../image/background/B.png");*/

 	background-image: url("../image/background/RR.png");
    border-image: url("../image/background/A.png");
	opacity: 0.7;
	
}

.middle{
	position: relative;
	top: 10px;
	height: 300px;
	width: 900px;
	opacity: 0.7;

}

/*enent*/
.subMiddle{
	position: relative;
	height: 250px;
	width: auto;
	background-image: url("../image/background/A.png");
	border: solid;
	/*margin-bottom: 70px;*/	
	margin-top: 70px;
	z-index: 1;

}

.subMiddle td{
	width: 500px;
	height: 60px;
	line-height: 60px;
	color: yellow;
	background-image: url("../image/background/A.png");	
}

.subMiddle thead{
	position: fixed;
	width: 878px;
}

.subMiddle .event{
	display: block;
	overflow: auto;
}

.subMiddle .body{
	margin-top: 99px;
	height: 260px;
}

.subMiddle2{
	position: relative;
	height: 50px;
	width: auto;
	/*background-image: url("../image/background/DD.png");*/
	border: solid;
	margin-top: 10px;
	z-index: 1;

}

.subMiddle2 .downRight{
	height: 46px;
	width: 80px;
	text-align: center;
	line-height: 50px;
	font-size: 27px;
	margin-left: 810px;
	/*background-image: url("../image/background/E.png");*/

	opacity: 0.8;
}



/*bag and shop*/

.store{
	position: absolute;
	top: 80px;
	height: 300px;
	width: 900px;
	background-image: url("../image/background/book.jpg");
	z-index: 0;
	opacity: 1;
	opacity: !important;
}

.store .tableTop{
	background-color: #6B8E23;
	color: darkorange;
	text-align: center;
	color: #FFA500;
	text-align: center;
	font-style: oblique;
}

.store .left{
	float: left;
	width: 430px;
	/*background-color: #B0E0E6;*/
	background-image: url("../image/background/A.png");
	height: 300px;
	display: block;
	overflow: auto;
	color: wheat;
}

.store .right{
	float: right;
	width: 416px;
	height: 300px;
	display: block;
	overflow: auto;
	/*background-image: url("../image/background/QQ.png");*/
	background-image: url("../image/background/A.png");
	color: 	wheat;

}

.store tr{
	height: 50px;
}

.effect{
	font-size: 16px;
	line-height: 20px;
	color: #EE82EE;
	text-align: center;
	font-style: oblique;
}

.select{
	width: 700px;
	height: 200px;
	position: absolute;
	margin-left: -350px;
	margin-top: -100px;
	top: 50%;
	left: 50%;
	/*opacity: 0.8;*/
	background-image: url("../image/background/EE.png");	

}

.selectHead{
	height: 90px;
	color: #B0E0E6;
	line-height: 30px;
	font: bold;
	font-style: oblique;
	text-align: center;
	font-size: 16px	;
}

.subSelect{
	height: 80px;
	line-height: 66px;
	font: bold;
	font-style: oblique;
	text-align: center;
	font-size: 16px	;
	background-image: url("../image/background/QQ.png");	

}

.shadow{
	background-color: black;
	opacity: 1;
	width: 100%;
	height: 100%;
	opacity: !important;
}

.overShadow{
	background-color: black;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	opacity: !important;
}

.baseFoot{
	background-image: url("../image/background/EE.png");	

}