*{
	margin: 0;
	padding: 0;
}


.main{
    position: fixed;
	height: 100%;
	width: 100%;
	background-image: url("../image/background/CC.png");
	background-size: 1400px;
}

h1{
  font-family: "papyrus"; 
  color: white;
  font-size: 700%;
  text-align: center;
}

p{
  color: white;
  font-size: 150%;
  text-align: center;
}