{% extends 'game/base.html' %}
{% load staticfiles %}

{% block title_block %}
	View Announcements
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="../../static/css/announcements.css">
<link rel="stylesheet" href="../../static/css/base.css">

<div class="main">
<div class="formPosition">
<h1>Announcements</h1> <br /><br />
{% if announcement %}
	{% for announcement in announcement %}
	{{ announcement.content }}
{% endfor %}
{% else %}
<p>There are no announcements.</p>
{% endif %}
{% endblock %}