<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
	<title>
		Second Life
	{% block title_block %}
		Welcome to Your New Life
	{% endblock %}
 </title>
	</head>

	<body>
	<div>
		{% block body_block %}
	
		{% endblock %}

	<div>
		{% block sidebar_block %}
	
		{% endblock %}
	</div>

	</div>


	<div>
		<a href="{% url 'registration_register' %}">Register</a>
		<a href="{% url 'auth_login' %}">Login</a></li>
		<a href="{% url 'auth_logout' %}?next="game/index/">Logout</a></li>
		</div>
</body>
</html>