{% extends 'game/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Game
{% endblock %}
{% block body_block %}
<link rel="stylesheet" href="../../static/css/game.css">
    <script type="text/javascript">
        var attribute = {{attribute}};
        var age = {{age}};
        var eventId = {{event_id}};
        var isEnd = Boolean({{is_end}});
    </script>
<div class="main">
    <div class="game">
        <div class="top">
            <table class="table table-bordered table-striped table-condensed">
                <thead class="top1"></thead>
                <tbody class="top2"></tbody>
            </table>
        </div>
        <a href="{% url 'second_life:archive' %}" class="save">Save</a>
       <a href="#" onclick="openBag()" class="shop">BAG STORE</a>
    <div class="middle">
<!--        class=hide-->
        <div class="store hide" id="wholeStore">
            <div class="left">
                 <table id="bag" class="table table-bordered table-striped table-condensed">
                    <div class="tableTop">Bag</div>
                     <thead><td>Item</td><td>Icon</td><td>Quantity</td></thead>
                     <tbody></tbody>
                </table>
            </div>
            <div class="right">
                 <table id="store" class="table table-bordered table-striped table-condensed">
                    <div class="tableTop">Store</div>
                     <thead><td>Item</td><td>Icon</td><td>Available Quantity</td></thead>
                     <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="subMiddle" id="subMiddle" style="overflow-y:auto">
            <table id="event" class=" event table table-bordered table-striped table-condensed" >
                <thead><td>Year</td><td>Event</td></thead>
                <tbody class="body"></tbody>
            </table>
        </div>
        <div class="subMiddle2" id="subMiddle2">
            <!-- <div class="left"></div> -->
            <div class="downRight" id="downRight"><a href="#" id="next">Next</a></div>
        </div>
    </div>
<!--    event select-->
        <div class="select hide" id="select">
            <div id="question" class="selectHead"></div>
            <div class="subSelect"><a id="option1" href="javascript:void(0)" onclick="choose(this)"></a></div>
            <div class="subSelect"><a id="option2" href="javascript:void(0)" onclick="choose(this)"></a></div>
            <div class="subSelect"><a id="option3" href="javascript:void(0)" onclick="choose(this)"></a></div>
        </div>
    </div>
</div>
<script src="../../static/js/store.js"></script>
<script src="../../static/js/game.js"></script>
<script src="../../static/js/common.js"></script>

{% endblock %}