{% extends 'game/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Game
{% endblock %}
{% block body_block %}
<link rel="stylesheet" href="../../static/css/game.css">
    <script type="text/javascript">
        var userId = {{user_id}};
        var attribute = {{attribute}};
        var age = {{age}};
        var eventId = {{event_id}};
        var isEnd = Boolean({{is_end}});
    </script>
<div class="main">
    <div class="game">
        <table>
            <div class="top">
                <thead></thead>
                <tbody></tbody>
            </div>
        </table>
       <a href="#"><span onclick="openBag()" class="shop">BAG STORE </span></a>
    <div class="middle">
<!--        class=hide-->
        <div class="store hide" id="store">
            <div class="left">
                 <table class="table table-bordered table-striped table-condensed">
                    <div class="tableTop">Bag</div>
                     <tr><td class="effect">Effect:</td><td class="effect">TextArea</td></tr>
                    <tr>
                        <td>StuffName</td>
                        <td>StuffPicture</td>
                        <td>StuffNumber</td>
                    </tr>
                    <tr>
                        <td>StuffName</td>
                        <td>StuffPicture</td>
                        <td>StuffNumber</td>
                    </tr>
                     <tr>
                        <td>StuffName</td>
                        <td>StuffPicture</td>
                        <td>StuffNumber</td>
                    </tr>
                     <tr>
                        <td>StuffName</td>
                        <td>StuffPicture</td>
                        <td>StuffNumber</td>
                    </tr>
                </table>
            </div>
            <div class="right">
                 <table class="table table-bordered table-striped table-condensed">
                    <div class="tableTop">Store</div>
                    <tr><td class="effect">Function:</td><td class="effect">TextArea</td></tr>
                    <tr>
                        <td>GoodsName</td>
                        <td>GoodsPicture</td>
                        <td>GoodsNumber</td>
                    </tr>
                    <tr>
                        <td>GoodsName</td>
                        <td>GoodsPicture</td>
                        <td>GoodsNumber</td>
                    </tr>
                     <tr>
                        <td>GoodsName</td>
                        <td>GoodsPicture</td>
                        <td>GoodsNumber</td>
                    </tr>
                     <tr>
                        <td>GoodsName</td>
                        <td>GoodsPicture</td>
                        <td>GoodsNumber</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="subMiddle">
            <table>
                <thead><td>Year</td><td>Event</td></thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="subMiddle">
            <!-- <div class="left"></div> -->
            <div class="downRight"><a href="#" id="next">Next</a></div>
        </div>
    </div>
<!--    event select-->
        <div class="select" id="select">
            <div class="selectHead">Select your event</div>
            <div class="subSelect"><a id="option1" href="javascript:void(0)" onclick="choose(this)"></a></div>
            <div class="subSelect"><a id="option2" href="javascript:void(0)" onclick="choose(this)"></a></div>
            <div class="subSelect"><a id="option3" href="javascript:void(0)" onclick="choose(this)"></a></div>
        </div>
    </div>
</div>
<script src="../../static/js/store.js"></script>
<script src="../../static/js/game.js"></script>

{% endblock %}