{% extends 'game/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Homepage
{% endblock %}

{% block body_block %}
<h1>Welcome to SecondLife</h1>
<div>
    {% if user.is_authenticated %}
        Hello {{ user.username }}.
    {% else %}
        Hello.
    {% endif %}
    <br />
    <strong>{{ boldmessage }}</strong><br />
</div>
<h3>
    {% if user.is_authenticated %}
    <a href="{% url 'second_life:initialization' %}">Initialize your life here.</a>
    {% endif %}
</h3>
{% endblock %}