{% extends 'game/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Archive
{% endblock %}

{% block body_block %}


<link rel="stylesheet" href="../../static/css/archive.css">
<!--<link rel="stylesheet" href="../../static/css/base.css">-->
    <script type="text/javascript">
        var archive = [];
        archive[0] = {{archive1}};
        archive[1] = {{archive2}};
        archive[2] = {{archive3}};
    </script>
<div class="main">
    <div class="formPosition">
        <h1 class="gradient-text">Read Archive</h1>
        <div>
            <p>
            {% if user.is_authenticated %}
                Choose an Archive
            {% else %}
                Welcome to your new life
            {% endif %}
            </p>
            <br />

        </div>

        <div class="archive">
            <div class="one">
                <div class="ArchiveHead">

                </div>
                <a href="#" onclick="">
                    <div class="row1">
                    Name
                    </div>
                    <div class="row2">
                        Profile
                    </div>
                    <div class="row3">
                        Age:Last Event
                    </div>
                    <div class="row4">
                        Save time
                    </div>
                </a>
            </div>


            <div class="two">

            </div>
            <div class="three">

            </div>
        </div>


<!--        <table class="archive table-bordered">-->
<!--            <tr class="head">-->
<!--                <td>Archive1</td>-->
<!--                <td>Archive2</td>-->
<!--                <td>Archive3<td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>name</td>-->
<!--                <td>name</td>-->
<!--                <td>name</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>profile</td>-->
<!--                <td>profile</td>-->
<!--                <td>profile</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Age:Last Event</td>-->
<!--                <td>Age:Last Event</td>-->
<!--                <td>Age:Last Event</td>-->
<!--            </tr>-->
<!--            <tr class="tail">-->
<!--                <td>save time</td>-->
<!--                <td>save time</td>-->
<!--                <td>save time</td>-->
<!--            </tr>-->
<!--        </table>-->
    </div>
</div>
<script src="../../static/js/readArchive.js"></script>
{% endblock %}