{% extends 'game/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Archive
{% endblock %}

{% block body_block %}


<link rel="stylesheet" href="../../static/css/archive.css">
<!--<link rel="stylesheet" href="../../static/css/base.css">-->
    <script type="text/javascript">
        var archive = [];
        archive[0] = {{archive1}};
        archive[1] = {{archive2}};
        archive[2] = {{archive3}};
    </script>
<div class="main">
    <div class="formPosition">
        <h1 class="gradient-text">Read Archive</h1>
        <div>
            <p>
            {% if user.is_authenticated %}
                Choose an Archive
            {% else %}
                Welcome to your new life
            {% endif %}
            </p>
            <br />

        </div>

        <div class="archive">
            <div class="one">
                <div class="rowHead">
                    Archive One
                </div>
                <a href="#" onclick="">
                    <div class="row">
                    Name
                    </div>
                    <div class="row">
                        Profile
                    </div>
                    <div class="row">
                        Age:Last Event
                    </div>
                    <div class="row">
                        Save time
                    </div>
                </a>
            </div>

            <div class="two">
                <div class="rowHead">
                    Archive Two
                </div>
                <a href="#" onclick="">
                    <div class="row">
                    Name
                    </div>
                    <div class="row">
                        Profile
                    </div>
                    <div class="row">
                        Age:Last Event
                    </div>
                    <div class="row">
                        Save time
                    </div>
                </a>
            </div>

            <div class="three">
                <div class="rowHead">
                    Archive Three
                </div>
                <a href="#" onclick="">
                    <div class="row">
                    Name
                    </div>
                    <div class="row">
                        Profile
                    </div>
                    <div class="row">
                        Age:Last Event
                    </div>
                    <div class="row">
                        Save time
                    </div>
                </a>
            </div>

        </div>

        <a href=""><div class="saveFile">Save Archive</div></a>
        <a href=""><div class="readFile">Read Archive</div></a>

    </div>
</div>
<script src="../../static/js/readArchive.js"></script>
{% endblock %}