{% extends 'game/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="../../static/css/r_form.css">
<link rel="stylesheet" href="../../static/css/base.css">

<div class="main">
    <div class="formPosition">

<h1>Register</h1>

<form id="user_form" method="post" action="{% url 'second_life:register' %}" enctype="multipart/form-data">

	{% csrf_token %}

	{{ user_form.as_p }}
	{{ profile_form.as_p}}

	<input type="submit" class="gradient-button gradient-button-1" value="Register" />
</form>
    </div>
</div>
{% endblock %}